@import "normalize.css";

body, html {
    width: 100%;
    height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0 solid black;

    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
}

* {
    position: relative;
}

body {
    color: #202020;
    background-color: #F7F8FA; /*background-color: #FFFFFF;*/

    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 48px;
    font-weight: 100;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

p {
    font-size: 16px;
}

a {
    font-weight: 400;
}

.site {
    flex-direction: row;

    width: 100%;;
}

.site__main {
    flex-direction: row;

    margin-right: 30%;

    background: #F7F8FA;

    flex: 70 0;
}

.site__left-sidebar {
    position: fixed;

    max-width: 170px;
    padding: 1%;

    font-size: 48px;

    flex: 0 auto;
    text-color: #515151 100%;
    font-face: AvenirNext-DemiBold;
}

.site__content {
    margin-left: 170px;
    flex: 1 0;
}

/*----------------------------------             product   ----------------------------------*/
.products {
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.product__display {
    /* display: flex; */
    /*flex-direction: column;*/
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid rgba(215, 215, 215, 1);

}

.product__img{
    width: 100%;
}



.product__description {
    margin-top: 5px;
    flex-direction: row;

}

.product__add {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(215, 215, 215, 1);
    padding: 10px;
}

.product__price {
    position: absolute;
    top: 20px;
    right: 20px;
    text-color: #202020 100%;
    font-size: 24px;
    font-weight: bold;
    font-face: AvenirNext-UltraLight;
}

.product__name {
    flex: 3 0;
}

.product__heart {
    flex: 1 0;
}

/*----------------------------------             product   ----------------------------------*/

/*----------------------------------             right   ----------------------------------*/

.site__right-sidebar {
    position: fixed;
    top: 0;
    right: 0%;
    width: 30%;
    height: 100%;
    background: linear-gradient(to top, rgba(192, 207, 221, 0), rgba(192, 207, 221, 1) 20%);
}

.cart {
    overflow: scroll;
    flex: 1 0;
}

.cart__title {
    position: fixed;
    top: 0%; left: 70%;
    text-color: #202020 100%;
    font-size: 24px;
    z-index: 10;
    font-face: AvenirNext-UltraLight;
    background: linear-gradient(rgba(192, 207, 221, 1), rgba(192, 207, 221, 0.3));
}

.cart__content {
    margin-top: 100px;
    flex: 1 0;
}

.cart-item {
    margin-bottom: 20px;
    flex-direction: row;

    flex-wrap: wrap;
}

.cart-item__image {


    width: 30%;
    border: 2px solid #DADADA;
}
.cart-item__image img {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
.cart-item__top-part {
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
}

.cart-item__top-part__middle {
    align-items: center;
    justify-content: center;
    flex: 1 0;
    padding-left: 20px;

}

.cart-item__price {
    font-weight: bold;
}

.cart-item__trash {
    flex: 33% auto;
}

.cart-item__qty {
    width: 33%;
    align-items: center;
    justify-content: center;
}

.adjust-qty {
    flex-direction: row;
}

.adjust-qty__button {
    background: #FFFFFF;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.adjust-qty__number {
    align-items: center;
    justify-content: center;
}

.checkout {
    height: 300px;
    padding: 10px;
}

.checkout__divider {
    margin: 15px 0;
    border: 1px solid #969696;
    width: 60%;
    align-self: center;
}

.checkout__coupon-input {
    border: 2px solid #FF0000;
    margin-bottom: 10px;
    padding: 5px;
}

.checkout__coupon__notice {
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 30px;
}

.checkout__item {
    flex-direction: row;
    margin-bottom: 10px;
}

.checkout__item__label--subtotal {
    font-weight: bold;
}

.checkout__item__amount {
    /*background: rgba(255,0,0,0.3);*/
    flex-grow: 1;
    text-align: right;
}

.checkout__item__amount--strikeout {
    text-decoration: line-through;
    /*text-decoration-color: #DC1A00;*/
}

.checkout__item__amount--saving {
    color: #FF0000;
    font-weight: bold;
}

.checkout__button {
    flex-direction: row;

    /*border: 1px solid black;*/
    background-color: #006600;
    border-radius: 3px;
    font-size: 25px;
    align-self: center;

    justify-content: flex-start;

    color: #fff;

}

.checkout__button__icon {
    padding: 20px 50px;
    padding-right: 0;
}

.checkout__button__label {
    padding: 20px 50px;
    padding-left: 20px;
}




/*-------------------------屏幕适配----------------------------------------*/
@media (max-width: 950px) {
    .site__right-sidebar{
        width: 30%;
    }
    .site__main{
        width: 50%;
    }
    .product{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .site__right-sidebar {
        width: 80%;
    }
    .site__main {
        width: 100%;
        margin-right:0;
    }
    .site__content {
        margin-left: 0;
    }
    .site__left-sidebar {
        display: none;
    }

    .site__right-sidebar-toggle {
        visibility: visible;
    }
}

@media (min-width: 600px) {
    .site__right-sidebar-toggle {
        visibility: hidden;
    }
}

.site__right-sidebar-toggle {
    position: fixed;
    background-color: black;
    border-radius: 50%;
    right: 0;
    top: 0;
    z-index: 1;
}

.site__right-sidebar-toggle-img {
    transition: 0.8s ease transform;
}
.js-show-right-sidebar .site__right-sidebar {
    left: 100%;
    transform: translate3d(0, 0, 0);
}

body.js-show-right-sidebar .site__right-sidebar-toggle-img {
    transform: rotate(180deg);
    transition: 0.8s ease transform;
}